.slider-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 15s linear infinite;
}

.slider-img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.slider-img:hover {
  transform: scale(1.1);
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
